In [1]:
import pandas as pd

Load the data into Pandas Dataframe

In [2]:
college_placement_df = pd.read_csv("collegePlace.csv")

Extract first 5 rows from the pandas dataframe

In [3]:
college_placement_df.head(5)

   Age  Gender  ... HistoryOfBacklogs  PlacedOrNot
0   22    Male  ...                 1            1
1   21  Female  ...                 1            1
2   22  Female  ...                 0            1
3   21    Male  ...                 1            1
4   22    Male  ...                 0            1

[5 rows x 8 columns]

Display the columns names in dataframe

In [4]:
print(college_placement_df.columns)

Index(['Age', 'Gender', 'Stream', 'Internships', 'CGPA', 'Hostel',
       'HistoryOfBacklogs', 'PlacedOrNot'],
      dtype='object')

Filter the dataframe by Age

In [5]:
college_place_21_df = college_placement_df[college_placement_df["Age"] == 21]
college_place_22_df = college_placement_df[college_placement_df["Age"] == 22]

Find the dimension of dataframe of spark dataframe

In [6]:
print(college_place_21_df.shape)
print(college_place_22_df.shape)

(1084, 8)
(941, 8)

Find the average cgpa, number of students placed and total number of students in each stream

In [7]:
college_place_by_stream = college_placement_df.groupby("Stream").agg({'CGPA':'mean', 'PlacedOrNot':'sum'}).reset_index()
college_student_by_stream = college_placement_df.groupby("Stream").agg({'PlacedOrNot':'count'}).reset_index()

In [8]:
print(college_place_by_stream.head(2))
print(college_student_by_stream.head(2))

             Stream      CGPA  PlacedOrNot
0             Civil  7.094637          146
1  Computer Science  7.039948          452
             Stream  PlacedOrNot
0             Civil          317
1  Computer Science          776

Rename columns in spark dataframe

In [9]:
college_place_by_stream = college_place_by_stream.rename(columns = {"PlacedOrNot":"Number_of_Students_Placed"})
college_student_by_stream = college_student_by_stream.rename(columns = {"PlacedOrNot":"Number_of_Students"})

Join college_place_by_stream and college_student_by_stream

In [10]:
college_placement_join = pd.merge(college_place_by_stream,college_student_by_stream,on = ['Stream'],how = "inner")

In [11]:
college_placement_join.head(5)

                          Stream  ...  Number_of_Students
0                          Civil  ...                 317
1               Computer Science  ...                 776
2                     Electrical  ...                 334
3  Electronics And Communication  ...                 424
4         Information Technology  ...                 691

[5 rows x 4 columns]

Change the datatype of columns

In [12]:
college_placement_join['Number_of_Students_Placed'] = college_placement_join['Number_of_Students_Placed'].astype('int')
college_placement_join['Number_of_Students'] = college_placement_join['Number_of_Students'].astype('int')

Create derived column - Percentage of students placed

In [13]:
college_placement_join['percent_placed'] = round((college_placement_join['Number_of_Students_Placed']/college_placement_join['Number_of_Students'])*100,2)

In [14]:
college_placement_join.head()

                          Stream      CGPA  ...  Number_of_Students  percent_placed
0                          Civil  7.094637  ...                 317           46.06
1               Computer Science  7.039948  ...                 776           58.25
2                     Electrical  7.080838  ...                 334           54.19
3  Electronics And Communication  7.125000  ...                 424           59.20
4         Information Technology  7.073806  ...                 691           59.19

[5 rows x 5 columns]

Finding which Stream has highest number of placed students

In [15]:
 college_placement_join = college_placement_join.sort_values(['Number_of_Students_Placed'], ascending=[0])

In [16]:
college_placement_join.head()

                          Stream      CGPA  ...  Number_of_Students  percent_placed
1               Computer Science  7.039948  ...                 776           58.25
4         Information Technology  7.073806  ...                 691           59.19
3  Electronics And Communication  7.125000  ...                 424           59.20
5                     Mechanical  7.063679  ...                 424           47.17
2                     Electrical  7.080838  ...                 334           54.19

[5 rows x 5 columns]

In [17]:
 college_placement_join = college_placement_join.sort_values(['percent_placed'], ascending=[0])

In [18]:
college_placement_join.head()

                          Stream      CGPA  ...  Number_of_Students  percent_placed
3  Electronics And Communication  7.125000  ...                 424           59.20
4         Information Technology  7.073806  ...                 691           59.19
1               Computer Science  7.039948  ...                 776           58.25
2                     Electrical  7.080838  ...                 334           54.19
5                     Mechanical  7.063679  ...                 424           47.17

[5 rows x 5 columns]